<h3 mat-dialog-title>{{data.judul}}</h3>
<div mat-dialog-content>
<mat-list>
	<h3 matSubheader>Detail Buku</h3>
	<mat-list-item>
		<mat-icon matListIcon>Penulis</mat-icon>
		<h3 mat-line>{{data.penulis}}</h3>
		<mat-divider></mat-divider>
	</mat-list-item>
	<mat-list-item>
		<mat-icon matListIcon>Penerbit</mat-icon>
		<h3 mat-line>{{data.penerbit}}</h3>
		<mat-divider></mat-divider>
	</mat-list-item>
	<mat-list-item>
		<mat-icon matListIcon>Buku</mat-icon>
		<h3 mat-line>{{data.kota}}</h3>
		<p mat-line>{{data.tahun}}</p>
		<mat-divider></mat-divider>
	</mat-list-item>
</mat-list>
</div>
<mat-dialog-actions>
	<span class="spacer"></span>
	<button mat-button mat-dialog-close>Tutup</button>
</mat-dialog-actions>

